.zed
.env
.garth
.venv
.vscode
.uploaded_files.json
.config.json
*.egg-info
dist
test
__pycache__
.DS_Store
TODO.txt
TODO.md

# Test coverage
.coverage
htmlcov/
coverage.xml
.pytest_cache/

# built documentation
site
