/* Custom admonition for support/donation */
:root {
  --md-admonition-icon--support: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"/></svg>');
}

.md-typeset .admonition.support,
.md-typeset details.support {
  border-color: rgb(255, 94, 91);
}

.md-typeset .support > .admonition-title,
.md-typeset .support > summary {
  background-color: rgba(255, 94, 91, 0.1);
}

.md-typeset .support > .admonition-title::before,
.md-typeset .support > summary::before {
  background-color: rgb(255, 94, 91);
  -webkit-mask-image: var(--md-admonition-icon--support);
  mask-image: var(--md-admonition-icon--support);
}
